.Project {
    width: 100%;
  
    padding: 20px 5%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.Project-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Project-card {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


@media (max-width: 700px) {
    .Project-card {
        flex-direction: column;
        padding: 0 20px;
        gap: 20px;
    }
}

@media (max-width: 500px) {
    .Project-card {
        flex-direction: column;
        padding: 0 ;
    }
}