.serviceCard {
    height: 200px;
    background-color: #C3C3C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0, 0.1);
    gap: 10px;
}

img {
    width: 100px;
    height: 100px;
}

.serviceCard-img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #F4F4F5;
}

.serviceCard-img img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.serviceCard-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.serviceCard-description h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000ec;
}

.serviceCard-description p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000000ec;
}

/* lets make the website responsive */

