.Hero {
  width: 100%;
  height: 85vh;
  background-image:
    linear-gradient(to bottom, rgba(255, 255, 255, 0.336) 0%, rgba(255, 255, 255, 0.658) 70%, rgba(255, 255, 255, 1) 100%),
    url("../../assets/Background image.jpg");
  background-size: cnover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 10%;
}


.Hero-box {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: 40px 0;
  gap: 20px;
}

.Hero-greeting {

  display: flex;
  flex-direction: column;
  
}

.Hero-greeting h1 {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: -0.4px;
}

.Hero-description {
  width: 50%;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: -0.4px;
  padding-left: 10px;
}

.Hero-cta {
  display: flex;
  align-items: center;
  gap: 20px;

  padding: 0 20px;

}

.Hero-cta button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.4px;
  cursor: pointer;
}

.Hero-cta button:first-child {
  background-color: #18181B;
  color: #FFFFFF;
}

.Hero-ctab button:last-child {
  background-color: #FFFFFF;
  color: #18181B;
}



.my-experience {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.my-experience ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  background-color: #F1F0F1;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0, 0.1);
}

.my-experience ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}