.Gitintouch {
    width: 100%;
    display: flex;
    padding: 20px 5%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}


img {
    width: 20px;
    height: 20px;
}

.Gitintouch-detail {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Gitintouch-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.phone,.gmail,.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-link {
    display: flex;
    gap: 10px;
}

.social-link button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.Gitintouch-right {
    width: 50%;
}

.Gitintouch form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.432);
    padding:0 30px;
}

.Gitintouch form textarea {
    padding: 10px;
}

.Gitintouch form .send {
    width: 40%;
    padding: 10px 20px;
}

.Gitintouch form input {
    outline: none;
    padding: 10px 20px;
}

