.Skillset {
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.Skilltitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}



.Skillset-list {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.list-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Skilltitle h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    color: #0f172a;
}

.Skilltitle h2 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: -0.4px;
    color: #0f172a;
}

.Skilltitle h2 span {
    color: #2563eb;
}

.list-title h1 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.4px;
    color: #0f172a;
}

.Skillset-list-left {
    width: 50%;
}

.skillset-list-right {
    width: 50%;
}

.Skillset-list-right-list,
.Skillset-list-left-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}


/* lets make the website responsive */


@media (max-width: 800px) {
    .Skillset-list {
        width: 100%;
    }

    .Skilltitle h2 {
        font-size: 1rem;
    }

}

@media (max-width: 600px) {
    .Skillset-list {
        flex-direction: column;
        padding: 0 20px;
    }

    .skillset-list-right {
        width: 100%;
    }

    .Skillset-list-left {
        width: 100%;
    }
}


@media (max-width: 500px) {
    .Skilltitle h2 {
        text-align: center;
    }

    .Skillset-list {
        flex-direction: column;
        padding: 0 20px;
    }

    .skillset-list-right {
        width: 100%;
    }

    .Skillset-list-left {
        width: 100%;
    }
}